body {
  
  background-color: #444;
}

table {
  margin:auto;
  background-color:#c8c8b4;
  border-spacing: 0;
}

nav{
  overflow: hidden;
  font-family: Arial;
}

nav button{
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav input{
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
}
nav select{
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

td {
  
  border: 1px solid #b5b5a3;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #595950;
  border-radius: 10px;
}
td.ant{
  background-color: rgb(255, 51, 0)	;
  border-radius: 10px;
}